<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>RESTful Services URLs</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>http://192.168.1.90:9090</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>baseURL</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>Base URL</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>/crafter/content-store/descriptor?url=/global-config.xml</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>globalConfigURL</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>Global Configuration URL</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>/crafter/content-store/descriptor?url=/home-config.xml</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>homeConfigURL</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>Home Configuration URL</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>/crafter/content-store/descriptor?url=/gallery-config.xml</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>galleryConfigURL</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>Gallery Configuration URL</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>/crafter/content-store/descriptor?url=/connect-config.xml</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>connectConfigURL</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>Connect Configuration URL</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
